body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: #0366d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header */
nav {
    background-color: #24292e;
    padding: 15px;
}

nav a {
    padding: 10px;
    padding-left: 0px;
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}

/* Footer */
footer {
    background-color: #f6f8fa;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
}

/* Content of a page */
section {
    display: flex;
    flex-direction: column;
}

.card {
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    width: 50%;
    border: 1px solid lightgray;
    max-height: 90vh;
    overflow: scroll;
}

/* Input */
input {
    width: 256px;
    padding: 5px;
    margin: 0px;
    margin-top: 10px;
    border-radius: 5px 5px;
    border: solid gray 1px
}

input[type="submit"] {
    cursor: pointer;
}

/* Side panel */
.panel {
    width: 256px;
    border: 1px solid lightgray;
    position: absolute;
    top: 50px;
    background-color: white;
    padding: 10px
}

.panel a {
    display: block;
    padding: 5px;
}

/* File tree */
.file-tree {
    list-style: none;
    margin: 0;
    padding-left: 15px;
    margin-left: 5px;
}

.folder-label {
    padding: 5px;
    padding-left: -15px;
    list-style-image: url(icons/folder.png);
}

/* Frame stylized div */

div.frame {
    border: lightgray 1px solid;
    margin: 5px;
    padding: 5px;
}